$max-width: 1200px;

$color-blue: #00A7FF;
$color-yellow: #F5D41E;
$color-red: #ee0101;
$color-light: #eaeaea;
$color-medium: #bdbdbd;
$color-dark: #333;
$color-beautiful: rgb(6, 167, 167);
$bg-image: url(../image/frl1.webp); 